/*footer*/
footer{
    background-color: #FFF;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    line-height: 30px;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
