/*header*/
header{
    border-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo{
    background: url("../images/logo.png") no-repeat;
    margin-left: 20px;
    height: 100%;
}